body {
  background-color: #fff;
}

.form-body {
  background-color: #fff;
  height: 100%;
}

.iofrm-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.website-logo {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  top: 50px;
  right: 50px;
  bottom: initial;
  left: initial;
}

.website-logo img,
.website-logo .logo img {
  width: 100px;
}

.website-logo a {
  display: inline-block;
}

.website-logo .logo {
  display: inline-block;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.website-logo .logo img.logo-size {
  opacity: 0 !important;
}

.img-holder {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  min-height: 700px;
  height: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  text-align: center;
  z-index: 999;
}

.img-holder .info-holder {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.img-holder .info-holder h2,
.img-holder .info-holder h3,
.img-holder .info-holder p {
  display: inline-block;
  color: #000;
  text-align: left;
  max-width: 378px;
}

.img-holder .info-holder h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 30px;
}

.img-holder .info-holder h2:not(.animated) {
  width: 100%;
}

.img-holder .info-holder h3 {
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 30px;
  width: 100%;
  padding-right: 30px;
}

.img-holder .info-holder p {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 50px;
  width: 100%;
  padding-right: 30px;
}

.img-holder .info-holder img {
  width: 100%;
  max-width: 378px;
}

.img-holder .bg {
  opacity: 1;
  background-image: none;
}

@media (min-height: 700px) {
  .img-holder,
  .website-logo {
    position: fixed;
  }
}

.form-holder {
  margin-left: 550px;
  width: 100%;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 100%;
}

.form-holder .form-content ::-webkit-input-placeholder,
.form-holder .form-content :-moz-placeholder,
.form-holder .form-content ::-moz-placeholder,
.form-holder .form-content :-ms-input-placeholder {
  color: #000 !important;
}

.form-content {
  position: relative;
  background-color: #fff;
}

.form-content .form-items {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  text-align: left;
  transition: all 0.4s ease;
}

.form-content .form-items.with-bg {
  background-color: #fff;
  padding: 3rem 2.2rem;
  max-width: 420px;
  border-radius: 0.5rem;
}

.form-content h3,
.form-content p {
  color: #000;
  text-align: left;
}

.form-content h3 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.form-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

.form-content .page-links {
  margin-bottom: 34px;
}

.form-content .page-links a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
  margin-right: 0;
}

.form-content .page-links a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: rgba(222, 222, 222, 0.7);
  transition: all 0.3s ease;
}

.form-content .page-links a.active {
  font-weight: 700;
}

.form-content .page-links a.active:after,
.form-content .page-links a:focus:after,
.form-content .page-links a:hover:after {
  background-color: #0092fe;
}

.form-content form {
  margin-bottom: 30px;
}

.form-items {
  position: relative;
}

@media (max-width: 992px) {
  .img-holder {
    display: none;
  }

  .form-holder {
    margin-left: 0;
    margin-right: 0;
  }

  .form-holder .form-content {
    padding: 125px 60px 60px;
  }

  .website-logo {
    position: relative;
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;
  }

  .website-logo .logo {
    background-image: url(../img/logo.png);
  }
}
